@scope (product-card) {
    :scope {
        --s-snh: calc((var(--s-s) + var(--s-n)) / 2);
        color: var(--c-foreground);
        padding: var(--s-snh);
        background-color: var(--c-highlight);
        border-radius: var(--br-n);
        content-visibility: auto;
        contain-intrinsic-size: 288px 144px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 85px 1fr;
        column-gap: var(--s-snh);

        & issa-image {
            width: 85px;
            height: 120px;
            overflow: hidden;
            border-radius: var(--br-n);

            & img {
                width: 85px;
                height: 120px;
            }
        }

        & ul {
            list-style: none;
            padding-inline-start: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            row-gap: var(--s-xs);
            overflow: hidden;
        }

        & h3 {
            margin: 0 0 var(--s-xs) 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: var(--fw-n);
        }

        & li.labels {
            margin-block-end: auto;
        }

        & .property {
            color: var(--c-foreground);
            font-size: calc((var(--fs-xs) + var(--fs-s)) / 2);
            display: grid;
            grid-template-columns: var(--s-xl) auto;
            align-content: center;
            grid-column-gap: var(--s-s);
            grid-row-gap: var(--s-s);
            align-items: center;

            & .value {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.horizontal {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: var(--s-s);

                    & svg {
                        width: calc(3 * var(--s-xs));
                        height: calc(3 * var(--s-xs));
                    }
                }
            }

            & .title {
                color: var(--c-gray);
            }
        }
    }
}
