body {
    word-break: break-word;
    line-height: calc(1.5 * var(--s-n));
    margin-block: var(--s-l);

    & h1 {
        line-height: calc(2 * var(--s-n));
    }
}

a {
    font-weight: var(--fw-b);
    color: var(--c-cyan);
}