pre {
    max-width: var(--s-maxw);
    font-weight: var(--fw-n);
    font-family: monospace;
    white-space: pre-wrap;
}

.redux-data {
    --mw: var(--s-maxw);
    word-break: break-all;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--s-s);
}