a {
    padding-inline-start: var(--s-s);
    border-left: var(--s-xs) solid var(--c-repgray);

    &.installer {
        border-color: var(--c-purple)
    }

    &.downloadable-content {
        border-color: var(--c-indigo)
    }

    &.extra {
        border-color: var(--c-orange)
    }
}

.long-text {
    & fspan {
        overflow-wrap: anywhere;
        --ta: unset;
    }
}

hr.subtle {
    border-color: var(--c-background)
}