svg {
    width: var(--s-n);
    height: var(--s-n);

    &.installer {
        color: var(--c-purple);
    }

    &.downloadable-content {
        color: var(--c-indigo);
    }

    &.extra {
        color: var(--c-orange);
    }
}

.version {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
