html {
    --cma: 10%
}

@media screen and (prefers-color-scheme:dark) {
    html {
        --cma: 10%;
    }
}

issa-image.product-poster {
    & img {
        --w: 800px;
        --h: 370px;
        object-fit: fill;
    }
}

@media only screen and (max-width: 800px) {
    issa-image.product-poster {
        & img {
            max-width: 100%;
            --h: unset;
        }
    }
}


@scope (title-values) {

    &.positive .values {
        --fg: var(--c-green);
    }

    &.negative .values {
        --fg: var(--c-red);
    }

    &.neutral .values {
        --fg: var(--c-gray);
    }

    &.Verified .values {
        --fg: var(--c-green)
    }

    &.Playable .values {
        --fg: var(--c-orange)
    }

    &.Unsupported .values {
        --fg: var(--c-red)
    }

    &.Unknown .values {
        --fg: var(--c-gray)
    }
}