@scope (.label) {
    :scope {
        position:relative;

        &.owned {
            color: var(--c-highlight);
            background-color: var(--c-gray);
        }

        &.owned.OK {
            color: var(--c-highlight);
            background-color: var(--c-green);
        }

        &.owned.missing-checksum {
            color: var(--c-highlight);
            background-color: var(--c-mint);
        }

        &.owned.unresolved-manual-url {
            color: var(--c-highlight);
            background-color: var(--c-teal);
        }

        &.owned.missing-download {
            color: black;
            background-color: var(--c-yellow);
        }

        &.owned.failed-validation {
            color: var(--c-highlight);
            background-color: var(--c-red);
        }

        /* GAME, DLC, PACK */

        &.product-type {
            color: var(--c-highlight);
            background-color: var(--c-foreground);
        }

        /* Release timeline labels */

        &.tba,
        &.coming-soon,
        &.pre-order,
        &.in-development {
            color: var(--c-highlight);
            background-color: var(--c-teal);
        }

        /* Engine/Source-port labels */

        &.is-using-dosbox,
        &.is-using-scummvm {
            color: var(--c-highlight);
            background-color: var(--c-color);
        }

        /* User tags */

        &.tag,
        &.local-tags {
            color: var(--c-highlight);
            background-color: var(--c-indigo);
        }

        /* Sale/price lifecycle labels */

        &.wishlisted {
            color: var(--c-highlight);
            background-color: var(--c-orange);
        }

        &.is-free,
        &.discount-percentage {
            color: var(--c-highlight);
            background-color: var(--c-red);
        }

        &.good-old-game {
            color: var(--c-foreground)
        }

        &.good-old-game::before {
            z-index: -2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: calc(1.25 * var(--s-xxs));
            content: "";
            background: linear-gradient(90deg, var(--c-purple), var(--c-pink), var(--c-yellow), var(--c-teal));
        }

        &.good-old-game::after {
            z-index: -1;
            position: absolute;
            top: var(--s-xxxs);
            right: var(--s-xxxs);
            bottom: var(--s-xxxs);
            left: var(--s-xxxs);
            border-radius: var(--s-xxs);
            content: "";
            background: var(--c-background);
        }
    }
}
