issa-image.product-poster {

    border-radius: var(--s-s);

    & img {
        --w: 800px;
        --h: 370px;
        object-fit: cover;
        border-radius: var(--s-s);
    }
}

@media only screen and (max-width: 800px) {
    issa-image.product-poster {
        & img {
            max-width: 100%;
            --h: fit-content;
        }
    }
}