@scope (.label) {
    :scope {
        position:relative;

        &.owned {
            color: var(--c-highlight);
            background-color: var(--c-gray);
        }

        &.owned.valid {
            color: var(--c-highlight);
            background-color: var(--c-green);
        }

        &.owned.valid-with-gen-checksum {
            color: var(--c-highlight);
            background-color: var(--c-green);
        }

        &.owned.unresolved-manual-url {
            color: var(--c-highlight);
            background-color: var(--c-teal);
        }

        &.owned.missing-local-file {
            color: black;
            background-color: var(--c-teal);
        }

        &.owned.missing-checksum {
            color: var(--c-highlight);
            background-color: var(--c-teal);
        }

        &.owned.error {
            color: var(--c-highlight);
            background-color: var(--c-orange);
        }

        &.owned.checksum-mismatch {
            color: var(--c-highlight);
            background-color: var(--c-red);
        }

        /* GAME, DLC, PACK */

        &.product-type {
            color: var(--c-highlight);
            background-color: var(--c-foreground);
        }

        /* Release timeline labels */

        &.tba,
        &.coming-soon,
        &.pre-order,
        &.in-development {
            color: var(--c-highlight);
            background-color: var(--c-teal);
        }

        /* Engine/Source-port labels */

        &.is-using-dosbox,
        &.is-using-scummvm {
            color: var(--c-highlight);
            background-color: var(--c-color);
        }

        /* User tags */

        &.tag,
        &.local-tags {
            color: var(--c-highlight);
            background-color: var(--c-indigo);
        }

        /* Sale/price lifecycle labels */

        &.wishlisted {
            color: var(--c-highlight);
            background-color: var(--c-orange);
        }

        &.is-free,
        &.discount-percentage {
            color: var(--c-highlight);
            background-color: var(--c-mint);
        }

        &.good-old-game {
            color: var(--c-foreground);
            /* TODO: this should replace pseudo-elements solution below when available in more browsers:
            - https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip#border-area
            - https://webkit.org/blog/16214/background-clip-border-area/
            - https://issues.chromium.org/issues/329302543
            - https://bugzilla.mozilla.org/show_bug.cgi?id=1880365
             */
            /*background-image: linear-gradient(90deg, var(--c-purple), var(--c-pink), var(--c-yellow), var(--c-cyan));*/
            /*background-size: cover;*/
            /*background-origin: border-box;*/
            /*background-clip: border-area;*/
            /*border: var(--s-xxxs) solid transparent;*/
            --o: 0.85;
        }

        &.good-old-game::before {
            z-index: -2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: var(--br-n);
            content: "";
            background: linear-gradient(90deg, var(--c-purple), var(--c-pink), var(--c-yellow), var(--c-cyan));
        }

        &.good-old-game::after {
            z-index: -1;
            position: absolute;
            top: var(--s-xxxs);
            right: var(--s-xxxs);
            bottom: var(--s-xxxs);
            left: var(--s-xxxs);
            border-radius: calc(var(--br-n) / 1.25);
            content: "";
            background: var(--c-background);
            opacity: var(--o);
        }
    }
}
