card[data-id] {
    & > issa-image {

        --c-outline: color-mix(in display-p3, var(--c-rep) var(--cma), transparent);
        outline: var(--s-xxxs) solid var(--c-outline);

        & > img {
            object-fit: fill;
        }
    }
}