issa-image.product-poster {

    box-shadow: 0 0 var(--s-l) var(--c-rep);

    & img {
        --w: 800px;
        --h: 370px;
        object-fit: fill;
    }
}

@media only screen and (max-width: 800px) {
    issa-image.product-poster {
        & img {
            max-width: 100%;
            --h: unset;
        }
    }
}

fspan.cmd {
    font-family: monospace;
}

one-liner.short-description {
    max-width: var(--s-maxw)
}