@scope (title-values) {

    &.Positive .values {
        --fg: var(--c-green);
    }

    &.Negative .values {
        --fg: var(--c-red);
    }

    &.Mixed .values {
        --fg: var(--c-yellow);
    }

    &.Not .Rated .values {
        --fg: var(--c-gray);
    }
}