.rating {
    width: calc(11 * var(--s-n))
}

@scope (title-values) {

    &.Positive .values {
        --fg: var(--c-green);
    }

    &.Negative .values {
        --fg: var(--c-red);
    }

    &.Mixed .values {
        --fg: var(--c-yellow);
    }

    &.Not .Rated .values {
        --fg: var(--c-gray);
    }
}

@scope (title-values) {

    &.Mighty .values {
        --fg: var(--c-green);
    }

    &.Weak .values {
        --fg: var(--c-red);
    }

    &.Strong .values {
        --fg: var(--c-green);
    }

    &.Fair .values {
        --fg: var(--c-yellow);
    }
}

fspan.symbol {
    height: var(--s-n);

    & svg {
        width: var(--s-n);
        height: var(--s-n)
    }
}

pre {
    line-height: calc(1.5 * var(--s-n));
    font-family: sans-serif;
    white-space: break-spaces;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
}

fspan.monochrome-emoji {
    color: transparent;
    text-shadow: 0 0 0 var(--fg);
    font-size: var(--fs-n)
}

.steam-reviews {
    padding-block: var(--s-s);
    border-radius: var(--s-xs);
    max-width: var(--s-maxw);
    width: 100%;
}